<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Register</h5>
          <form class="form-signin">
            <div class="form-label-group">
              <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required="" autofocus="" [(ngModel)]="registerUserData.username">
              <label for="inputUsername">Username</label>
            </div>

            <div class="form-label-group">
              <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" required="" autofocus="" [(ngModel)]="registerUserData.email">
              <label for="inputEmail">Email</label>
            </div>

            <div class="form-label-group">
              <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="" autofocus="" [(ngModel)]="registerUserData.password">
              <label for="inputPassword">Password</label>
            </div>

            <div class="form-label-group">
              <input type="password" id="inputConfirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" required="" autofocus="" [(ngModel)]="registerUserData.confirmPassword">
              <label for="inputConfirmPassword">Confirm Password</label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="registerUser()">Register</button>
            <hr class="my-4">
            <small class="text-muted">
              Already have an account? <a class="" href="/login">Login</a>
            </small>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
